---
import Layout from '~/layouts/PageLayout.astro';
import ProfessorSearchComponent from '~/components/ProfessorSearchComponent';
import * as evaluationService from '~/service/evaluation-service';
import { getProfessorsBySchoolAndLetter } from '~/service/professor-service';
import { getSchoolById } from '~/service/school-service';

const { path } = Astro.params;
const [_, schoolIdStr, letter] = path.split('/');

let schoolId = Number(schoolIdStr);

const school = await getSchoolById(Astro, schoolId);
const schoolName = school?.Name || '';

// TODO: Parallelize
const initialSubjects = await evaluationService.getAllSubjects(Astro, schoolId);

const initialProfs = letter && ((await getProfessorsBySchoolAndLetter(Astro, schoolId, letter)) as any);

const metadata = {
  title: 'Professors at ' + schoolName + ' - Rate My Professor Here',
  description: 'Rate your professors at ' + schoolName + ' and help other students stay informed informed.',
};
---

<Layout metadata={metadata}>
  <div class="container mx-auto p-2">
    <ProfessorSearchComponent
      context={Astro}
      schoolId={schoolId}
      letter={letter}
      initialSubjects={initialSubjects}
      initialProfessors={initialProfs}
      schoolName={schoolName}
      client:load={true}
    />
  </div>
</Layout>

<script define:vars={{ schoolId, schoolName }}>
  window.localStorage.setItem('schoolId', schoolId);
  window.localStorage.setItem('schoolName', schoolName);

  const date = new Date();
  const days = 365;

  date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);

  document.cookie = 'schoolId=' + schoolId + ';expires=' + date.toUTCString() + ';path=/';
</script>
