---
import PageLayout from '~/layouts/PageLayout.astro';

import { getSchoolsByState } from '~/service/school-service';
import { stateById } from '~/data/states';

const { id } = Astro.params;
let state = stateById(id);
let schools = [];

if (state) {
  schools = await getSchoolsByState(Astro, id);
} else {
  state = {
    name: 'Error 404 - Missing State ',
  } as any;
}
---

<PageLayout metadata={{ title: 'Colleges, Universities, and Technical or Community Colleges in' + state.name }}>
  <div class="container p-8 mx-auto mb-12">
    <h1 class="text-3xl mt-2 mb-4 inline-block font-bold">{state.name} / Select your School</h1>

    {
      schools.map((school, index) => (
        <a
          href={`/school/${school.toUrlFriendlyName()}/${school.ID}`}
          class={`block border ${index % 2 == 0 && 'bg-gray-100'}  border-gray-200 p-2`}
        >
          <h2 class="font-semibold text-lg">
            {school.Name} ({school.abbr})
          </h2>
        </a>
      ))
    }
  </div>
</PageLayout>
