---
import Layout from '~/layouts/PageLayout.astro';

import { getEvaluationsForProfessor, getProfessorById } from '~/service/professor-service';
import { getSchoolById } from '~/service/school-service';

import ProfessorCardComponent from '~/components/core/ProfessorCardComponent';
import EvaluationSummaryComponent from '~/components/core/EvaluationSummaryComponent';

const { path } = Astro.params;
const [_, schoolId, professor_name, professorId] = path.split('/');

const metadata = {
  title: professor_name + ' - Rate My Professor Here',
  description: 'Rate your professors at and help other students stay informed informed.',
};

// let school = await getSchoolById(Astro, Number(schoolId));

// let evaluations = await getEvaluationsForProfessor(Astro, Number(professorId), 1000000);

let [school, evaluations, professor] = await Promise.all([
  getSchoolById(Astro, Number(schoolId)),
  getEvaluationsForProfessor(Astro, Number(professorId), 1000000),
  getProfessorById(Astro, Number(professorId)),
]);

if (!professor || !school || !evaluations) {
  return new Response('Not Found');
}
// if (letter) {
//   professors = await getProfessorsEvaluations(Astro, Number(professorId), letter);
// }

//console.log(Astro.params);
---

<Layout metadata={metadata}>
  <div class="container mx-auto mt-5">
    <h1 class="text-xl font-bold mt-5">
      <a class="underline" href={`/school/${school.toUrlFriendlyName()}/${schoolId}/`}>{school.Name}</a> /
      <a class="underline" href={`/school/${school.toUrlFriendlyName()}/${schoolId}/${professor.lNameChar}`}
        >{professor.lNameChar}</a
      > / <span class="font-normal">{professor?.fName} {professor?.lName}</span>
    </h1>
    <div class="mt-5 border border-gray-100 rounded-lg shadow-md">
      <ProfessorCardComponent professor={professor} evaluations={evaluations} />

      <EvaluationSummaryComponent evaluations={evaluations} />
    </div>
  </div>
</Layout>
